@import url(https://db.onlinewebfonts.com/c/aa0978a3bd6a626f739efaff3d30955e?family=Georgia+Pro+W01+Regular);
body {
    font-family: 'Georgia Pro W01 Regular', 'Times New Roman', Times, serif;
    background-image: url("../../images/background.jpg");
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    width: 1500px;

}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #80A7BF ;
}

ul li {
    list-style-type: none;
    text-align:left;
}

img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.recipe-card h3 {
    text-align: center;
    margin: 0px;
    font-size: 30px;
}

.nutrition {
    background-color: #A69F80;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-align: center;
}

.nutrition ul {
    display: flex;
    gap: 10px;
}

.ingredient {
    background-color: #D98F07;
}

.ingredient h3,
.ingredient h4 {
    margin: 0;
}

.direction h3 {
    margin: 0;
}

.direction {
    background-color: #8C3F54;
}

.direction, .ingredient {
    padding: 15px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.description {
    margin: 0 auto;
    background-color: #D9751E;
    padding: 10px;
}

.nutrition, .direction, .ingredient, .description, img {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}